{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Films{% endblock %}
{% block content %}
{% for movie in movies %}
<h3>{{ movie.release_date }}</h3>
	<ul class="items">
		{% for film in movie.movie_data %}
		<li>
			<a href="/movies/{{ film.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ film.name }}</h5>
					{% for actor in film.cast %}
					<h9>{{ actor.name }}</h9> &nbsp; &nbsp;
					{% endfor %}
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}