{% extends 'layouts/main.html' %}
{% block title %}New Film{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form" action="/movies">
      <h3 class="form-heading">Film information <a href="/" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>
      <div class="form-group">
        <label for="name">Name</label>
        {{ form.name(class_ = "form-control", autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="release_date">Release date</label>
        {{ form.release_date(class_ = "form-control", autofocus = true) }}
      </div>
        <div class="form-group">
          <label for="image_link">Image Link</label>
          {{ form.image_link(class_ = "form-control", placeholder="http://", autofocus = true) }}
        </div>
      <div class="form-group">
          <label for="film_summary">Film summary</label>
          {{ form.film_summary(class_ = "form-control", autofocus = true) }}
        </div>
      <input type="submit" value="Create Film" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}